 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre o Portal</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Pensando na conveniência dos moradores do Condomínio Morada do Parque, criamos este Portal para concentrar uma lista dos serviços prestados pelos próprios condôminos.</p>
                    <p>Acreditamos que esta é a melhor forma de ajudar na divulgação destes serviços e queremos apresentar o melhor conteúdo para o visitante deste Portal.</p>
                </div>
            </div>
        </div>
    </section>
